@use '../variables' as *;
.bar {
	position: relative;
	display: flex;
	align-items: center;
	height: 11em;
	width: calc(100% + 4em);
	margin: -4em -2em;
	padding: 4em 2em;
	background-color: $secondaryBg;
	margin-bottom: 1em;
	&__arrow {
		rotate: 180deg;
	}
	&__link {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		text-decoration: none;
		gap: 1em;
		color: $subtext;
	}
	&__text {
		font-size: $subtextSize;
	}
	&__userInfo {
		display: flex;
		align-items: center;
		gap: 1em;
		margin: 0 auto;
	}
	&__userInfoName {
		font-size: $headingSize;
		margin-bottom: 0.2em;
	}
	&__userInfoIndicator {
		font-size: $smallSize;
		color: $subtext;
	}
	&__image {
		width: 6em;
	}
}
@media (min-width: 992px) {
	.bar {
		margin: -4em;
		width: calc(100% + 8em);
		padding: 4em;
		margin-bottom: 2em;
	}
}
