@use '../variables' as *;
.chatSection {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: calc(100dvh - 19em);
}
.messageList {
	flex: 1;
	overflow-y: auto;
	list-style-type: none;
	display: flex;
	gap: 1em;
	flex-direction: column;
	width: 100%;
}
.messageListElement {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	flex-direction: column;
}
.messageListElement.messageSender {
	flex-direction: column;
}
.recieverInfo {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 2em;
	flex-direction: column;
}
.recieverImage {
	filter: brightness(65%);
	width: 10%;
	min-width: 9em;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}
.recieverName {
	font-size: $headingSize;
}
.doubledBox {
	display: none;
	width: clamp(6rem, 5.3469rem + 3.2653vw, 8rem);
	height: 1px;
}
.messageImg {
	margin-top: 3em;
	filter: brightness(65%);
	width: clamp(6rem, 5.3469rem + 3.2653vw, 8rem);
	height: clamp(6rem, 5.3469rem + 3.2653vw, 8rem);
	object-fit: cover;
	object-position: center;
}
.senderMessageImg {
	align-self: flex-end;
}
.bar {
	margin-top: 2em;
	display: flex;
	align-items: flex-start;
	width: 100%;
}
.message {
	width: fit-content;
	display: flex;
	padding: 1em 1.5em;
	font-size: $subtextSize;
}
.sent {
	margin-left: auto;
	justify-content: flex-end;
	background-color: $mainColor;
}
.recieved {
	justify-content: flex-start;
	background-color: $secondaryBg;
}
@media (min-width: 576px) {
	.messageListElement {
		flex-direction: row;
	}
	.messageListElement.messageSender {
		flex-direction: row-reverse;
	}
	.message {
		align-self: flex-end;
	}
	.doubledBox {
		display: block;
	}
}
