@use '../variables' as *;

.backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: $backdrop;
}
.imageModal {
	position: absolute;
	background-color: $mainBg;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	outline: none;
	z-index: 2000;
	&::backdrop {
		display: none;
	}
	&__image {
		max-width: 80svh;
		max-height: 80dvh;
		object-fit: contain;
		object-position: center;
	}
}
