@use '../variables' as *;
.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.chatHeading {
	font-size: $subtextSize;
	font-weight: 500;
}
.infoText {
	font-size: $subtextSize;
	color: $subtext;
}
