@use '../variables' as *;
.container {
	position: relative;
	&__emptySection {
		font-size: $subtextSize;
		color: $subtext;
		text-align: center;
		margin-bottom: 1em;
	}
	&__testimonialList {
		display: flex;
		flex-direction: column;
		gap: 3em;
	}
	&__sliderButton {
		position: absolute;
		display: flex;
		align-items: center;
		background: none;
		border: none;
		cursor: pointer;
		padding: 1.5em;
		height: 100%;
		z-index: 10;
		top: 0;
	}
}
@media (min-width: 992px) {
	.container {
		&__sliderButton {
			backdrop-filter: blur(6px);
		}
		&__sliderRight {
			right: 0;
			padding-left: 12.5%;
			background: linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
			mask: linear-gradient(90deg, transparent, black 50%);
		}
		&__sliderLeft {
			left: 0;
			padding-right: 12.5%;
			background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
			mask: linear-gradient(-90deg, transparent, black 50%);
		}
	}
}
