@use '../variables' as *;
.section {
	position: relative;
	padding: 8em 2.5em;
	&__background {
		position: absolute;
		background-color: $secondaryBg;
		width: 100%;
		height: 100%;
		z-index: -1;
		top: 0;
		left: 0;
	}
	&__cardContainer {
		display: flex;
		flex-direction: column;
		gap: 3em;
	}
	&__attribution {
		margin-top: 5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3em;
	}
	&__attributionText {
		text-align: center;
		font-size: $subtextSize;
		color: $subtext;
	}
}
@media (min-width: 768px) {
	.section {
		&__cardContainer {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
@media (min-width: 992px) {
	.section {
		padding: 8em 3.5em;
		&__attribution {
			flex-direction: row;
		}
		&__attributionText {
			text-align: left;
		}
		&__cardContainer {
			flex-wrap: nowrap;
		}
	}
}
