.footer {
	position: relative;
	padding: 0 2.5em;
	padding-top: 8em;
}
.background {
	position: absolute;
	background-color: #0f0f0f;
	width: 500%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: -200%;
}
.attribution {
	margin-top: 2em;
	border-top: 1px solid rgba(255, 255, 255, 0.527);
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.attributionText {
	font-size: clamp(1.2rem, 1.0694rem + 0.6531vw, 1.6rem);
	color: rgba(255, 255, 255, 0.527);
}

@media (min-width: 992px) {
	.footer {
		padding: 0 3.5em;
		padding-top: 8em;
	}
}
