@use '../variables' as *;
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3em;
	background-color: $mainBg;
	z-index: 2000;
	&::backdrop {
		display: none;
	}
	&__modalContent {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
	&__modalTitle {
		font-size: $headingSize;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	&__modalForm {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
}
.backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
}
