@use '../variables' as *;
.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3em;
}
.inputNote {
	color: $subtext;
	margin-top: 0.5em;
	font-size: clamp(1.2rem, 1.0694rem + 0.6531vw, 1.6rem);
	a {
		font-size: clamp(1.2rem, 1.0694rem + 0.6531vw, 1.6rem);
		color: $subtext;
	}
}
.priceExperienceContainer {
	display: flex;
	flex-direction: column;
	gap: 3em;
}
.fileInput {
	display: none;
}
.fileLabel {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.fileLabelText {
	font-size: $subtextSize;
	color: $subtext;
	margin-bottom: 1em;
}
.announcementImage {
	width: 140px;
	height: 140px;
	object-fit: cover;
	object-position: center;
}
.fileLabelImagePreview {
	position: relative;
	width: 140px;
	height: 140px;
	background-color: $secondaryBg;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 25%;
		width: 2px;
		background-color: $white;
	}
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		width: 25%;
		background-color: $white;
	}
}
.container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	width: fit-content;
}
.inputSide {
	width: fit-content;
	padding: 0.75em;
}
.priceTag {
	color: $subtext;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	background-color: $secondaryBg;
	display: flex;
	align-items: center;
	width: fit-content;
	text-align: center;
	padding: 0.75em;
	text-wrap: nowrap;
}
.experienceInput {
	text-align: right;
	background-color: $secondaryBg;
	color: $subtext;
	border: 1px solid transparent;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
}
.buttons {
	margin-top: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}
.multiSelect {
	border-width: 1px;
	:focus {
		border-width: 1px;
	}
}
.labelAnimation {
	position: absolute;
	width: 14em;
	height: 14em;
	bottom: 0;
	background-color: $backdrop;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 25%;
		width: 2px;
		background-color: $white;
	}
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		width: 25%;
		background-color: $white;
	}
}

@media (min-width: 992px) {
	.priceExperienceContainer {
		flex-direction: row;
	}
	.buttons {
		justify-content: flex-end;
	}
}
