@use '../variables' as *;
.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3em;
}
.inputNote {
	color: $subtext;
	margin-top: 0.5em;
	font-size: clamp(1.2rem, 1.0694rem + 0.6531vw, 1.6rem);
	a {
		font-size: clamp(1.2rem, 1.0694rem + 0.6531vw, 1.6rem);
		color: $subtext;
	}
}
.priceExperienceContainer {
	display: flex;
	flex-direction: column;
	gap: 3em;
}
.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: fit-content;
	background-color: $secondaryBg;
}
.inputSide {
	width: fit-content;
	padding: 0 1em;
	margin-left: 0.25em;
	:focus {
		border: 1px solid white;
	}
}
.priceTag {
	color: $subtext;
	font-size: $subtextSize;
	background-color: $secondaryBg;
	height: 100%;
	display: flex;
	align-items: center;
	width: fit-content;
	text-align: center;
	padding: 0 1em;
	text-wrap: nowrap;
}
.experienceInput {
	text-align: right;
	height: 100%;
	background-color: $secondaryBg;
	color: $subtext;
	font-size: $subtextSize;
	border: none;
}
.buttons {
	margin-top: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}
.multiSelect {
	border-width: 1px;
	:focus {
		border-width: 1px;
	}
}

@media (min-width: 992px) {
	.priceExperienceContainer {
		flex-direction: row;
	}
	.buttons {
		justify-content: flex-end;
	}
}
