@use '../components/variables' as *;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
body {
	background-color: #090909;
	position: relative;
	color: #fff;
	font-size: 1.6rem;
	overflow-x: hidden;
}
.overflow {
	overflow-y: hidden;
}
.slick-track {
	display: flex !important;
}
.slick-track .slick-slide {
	display: flex;
	height: auto;
}
.slick-slide > div {
	padding: 2em;
	display: flex;
	margin: 0 1em;
	flex-direction: column;
	height: 100%;
	background-color: $secondaryBg;
}
