* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
body {
	background-color: #090909;
	color: #fff;
	font-size: 1.6rem;
	overflow-x: hidden;
}
.overflow {
	overflow-y: hidden;
}
.react-select {
	&__control {
		background-color: #0f0f0f !important;
	}
}
