@use '../variables' as *;
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100svh;
	height: 100%;
	z-index: 1;
	background-color: $backdrop;
}
.menu {
	display: block;
	position: absolute;
	padding: 2.5em;
	padding-top: 10em;
	top: 0;
	right: 0;
	height: 100dvh;
	width: 70%;
	z-index: 2;
	text-align: right;
	overflow: hidden;
	background-color: $secondaryBg;
	&__mobile {
		rotate: 120deg;
	}
	&__listElement {
		margin-bottom: 3em;
	}
	&__listElementButton {
		width: 100%;
		a {
			font-size: 1.8rem;
		}
	}
	&__margin {
		margin-top: auto;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.8em;
		width: 100%;
		cursor: pointer;
	}
	&__filledButton {
		margin-top: auto;
		background-color: $mainColor;
		border: 1.5px solid transparent;
	}
	&__textButton {
		background-color: transparent;
		border: 1.5px solid $mainColor;
	}
	&__link {
		text-decoration: none;
		color: $white;
		font-size: 2rem;
	}
	&__list {
		height: 100%;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 2em;
	}
}

@media (min-width: 992px) {
	.shadow {
		display: none;
	}
	.menu {
		position: static;
		min-height: 0;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		background-color: transparent;
		padding: 0;
		&__menuBtn {
			display: none;
		}
		&__list {
			flex-direction: row;
			align-items: center;
			width: fit-content;
			gap: 3em;
			opacity: 1 !important;
		}
		&__button {
			width: auto;
		}
		&__filledButton {
			margin-top: 0;
		}
		&__margin {
			margin-top: 0;
		}
		&__link {
			text-wrap: nowrap;
		}
		&__listElement {
			margin-bottom: 0;
		}
		&__button {
			padding: 0.8em 1.2em;
		}
	}
}
