.burger-btn {
	position: relative;
	display: flex;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 1em;
	margin: -1em;
	z-index: 3;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	cursor: pointer;
}
.container {
	position: relative;
	width: 100%;
	height: 60%;
}
.burgerLine {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
	background: #fff;
}
@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}
}
