@use '../variables' as *;
.form {
	margin-top: 8em;
	display: flex;
	flex-direction: column;
	gap: 3em;
	&__searchRow {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 2em;
		width: 100%;
	}
	&__filterRow {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
	&__filterPriceTags {
		display: flex;
		gap: 2em;
	}
	&__filterText {
		font-size: $subtextSize;
	}
	&__checkboxContainer {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		gap: 1em;
	}
	&__checkboxInput {
		display: flex;
		justify-content: center;
		align-items: center;
		appearance: none;
		background-color: $secondaryBg;
		margin: 0;
		width: 3em;
		height: 3em;
		border-radius: 2px;
		cursor: pointer;
		&::before {
			content: '';
			width: 2.6em;
			height: 2.6em;
			background-image: url('/checkmark.svg');
			background-repeat: no-repeat;
			background-position: center;
			scale: 0;
			transition: scale 0.3s;
		}
	}
	&__checked {
		&::before {
			scale: 1;
		}
	}
	&__checkboxLabel {
		font-size: $subtextSize;
		color: $subtext;
	}
}
@media (min-width: 992px) {
	.form {
		&__filterRow {
			flex-direction: row;
			align-items: flex-end;
		}
	}
}
