$mainColor: #a50000;
$mainColorDisabled: #c07070;
$mainColorDark: #750000;
$mainBg: #090909;
$secondaryBg: #0f0f0f;
$subtext: #b3b3b3;
$smallSize: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
$subtextSize: clamp(1.4rem, 1.2041rem + 0.9796vw, 2rem);
$headingSize: clamp(1.6rem, 1.3388rem + 1.3061vw, 2.4rem);
