@use '../variables' as *;
.background {
	width: 100svw;
	min-height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/forgot-password-bg.png');
	background-position: center;
}
.container {
	padding: 3em;
	width: 100%;
	margin: 1em;
	max-width: 560px;
	background-color: $mainBg;
}
