@use '../variables' as *;
.menu {
	display: flex;
	flex-direction: column;
	width: 20%;
	min-width: 275px;
	background-color: $secondaryBg;
	height: 100svh;
	padding: 3em;
}
.logoutBtn {
	background-color: transparent;
	padding: 0.75em 1em;
	font-size: 1.6rem;
	border: 1.5px solid $mainColor;
	color: white;
	cursor: pointer;
	font-size: $subtextSize;
}
.bold {
	font-weight: bold;
	font-size: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
}
.text {
	margin-bottom: 1.5em;
	margin-top: auto;
	color: $subtext;
	font-size: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
}
.list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 2em;
	list-style-type: none;
}
.listElement {
	font-size: $subtextSize;
}
