@use '../variables' as *;
.section {
	padding: 3em;
	background-color: $secondaryBg;
	width: 100%;
	margin-bottom: 4em;
	&__heading {
		font-size: $headingSize;
		color: $white;
		margin-bottom: 1em;
	}
	&__text {
		font-size: $subtextSize;
		color: $subtext;
		margin-bottom: 1em;
	}
	&__link {
		font-size: $subtextSize;
		color: $subtext;
		transition: color 0.3s;
		&:hover {
			color: $white;
		}
	}
	&__btnContainer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-top: 2em;
	}
}
