@use '../variables' as *;
.container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.label {
	position: absolute;
	top: 0%;
	left: 0.4em;
	padding: 0 0.15em;
	transform: translateY(-50%);
	color: $subtext;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	pointer-events: none;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 105%;
		height: 50%;
		background-color: #0f0f0f;
		z-index: -1;
	}
}
.input {
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	padding: 0.75em;
	background-color: #0f0f0f;
	outline: none;
	color: #fff;
	border: 1px solid transparent;
	width: 100%;
}
.inputError {
	margin-top: 0.5em;
	font-size: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
	color: $mainColor;
}
