@use '../variables' as *;
.container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.label {
	color: $subtext;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	margin-bottom: 0.2em;
}
.input {
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	padding: 0.75em;
	background-color: $secondaryBg;
	outline: none;
	color: $white;
	border: 1px solid transparent;
	width: 100%;
	&:disabled {
		color: $disabled;
	}
}
.textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 160px;
	font-family: 'Montserrat', sans-serif;
}
.inputError {
	margin-top: 0.5em;
	font-size: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
	color: $mainColor;
}
