@use '../variables' as *;
.link {
	text-decoration: none;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
}
.filledbutton {
	background-color: $mainColor;
	padding: 0.75em 1em;
	font-size: 1.6rem;
	border: 1.5px solid transparent;
}
.textbutton {
	background-color: transparent;
	padding: 0.75em 1em;
	font-size: 1.6rem;
	border: 1.5px solid $mainColor;
}
