@use '../variables' as *;
.form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	&__button {
		display: flex;
		align-items: center;
		background-color: $mainColor;
		padding: 0.75em 1em;
		font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
		border: 1.5px solid transparent;
		color: $white;
		width: 100%;
		text-align: left;
		margin-bottom: 0.5em;
		cursor: pointer;
	}
	&__errorMsg {
		font-size: clamp(1.4rem, 1.2041rem + 0.9796vw, 2rem);
		color: $mainColor;
	}
	&__arrow {
		margin-left: auto;
	}
}
.text,
.link {
	color: $subtext;
	font-size: clamp(1.4rem, 1.2041rem + 0.9796vw, 2rem);
	line-height: 1.5em;
}
.link {
	text-wrap: nowrap;
}
.text {
	margin-bottom: 2em;
}
.testContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}
