@use '../variables' as *;
.form {
	position: relative;
}
.container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap-reverse;
	gap: 1em;
	position: relative;
	width: 100%;
}
.messageContainer {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: 100%;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $secondaryBg;
}
.filesContainer {
	display: flex;
	align-items: center;
	overflow-x: auto;
}
.inputImage {
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	object-fit: cover;
	cursor: pointer;
}
.imageContainer {
	position: relative;
	width: 100px;
	height: 100px;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	margin: 0.75em;
	margin-right: 0;
	cursor: pointer;
}
.fileContainer {
	position: relative;
	width: auto;
	height: 100%;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	margin: 0.75em;
	margin-right: 0;
	cursor: pointer;
}
.inputFileContainer {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1em;
	background-color: $mainBg;
	font-size: $smallSize;
}
.inputFileText {
	font-size: $smallSize;
}
.label {
	position: absolute;
	top: 0%;
	left: 0.4em;
	padding: 0 0.15em;
	transform: translateY(-50%);
	color: $subtext;
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	pointer-events: none;
	z-index: 5;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 105%;
		height: 51%;
		background-color: #0f0f0f;
		z-index: -1;
	}
}
.input {
	font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	padding: 0.75em;
	background-color: #0f0f0f;
	outline: none;
	color: #fff;
	border: 1px solid transparent;
	width: 100%;
	&:disabled {
		color: #494949;
	}
}
.inputError {
	margin-top: 0.5em;
	font-size: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
	color: $mainColor;
}
.sendIcon {
	rotate: -90deg;
	margin: auto;
	width: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	scale: 1.3;
}
.spinnerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0.75em;
	max-width: 8em;
	width: 100%;
	background-color: $mainColor;
	cursor: not-allowed;
}
.spinner {
	width: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	min-width: 20px;
	min-height: 20px;
	height: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
	scale: 2;
	border-radius: 50%;
	border: 0.5rem solid $subtext;
	border-top: 0.5rem solid $mainBg;
}
.animationEffect {
	pointer-events: none;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.closeBtn {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50%;
}

@media (min-width: 992px) {
	.container {
		flex-direction: row;
	}
	.spinnerContainer {
		height: calc(100% - 2px);
	}
}
